* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 0;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

article{
    padding: 20px;
}

.oszlop{
    text-align: center;
}

.oszlop:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
